# Virtual environment
venv/
env/
ENV/

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Database
db.sqlite3
db.sqlite3-journal

# Media and static collection
media/
staticfiles/

# Frontend dependencies
node_modules/